.cont-sobre {
    background-color: #5a5a5a;
    padding: 50px;

    color: white;
    text-align: center;
}

h3 {
    text-align: center;
}

#cont-sobre2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.cont-div {
    flex: 1;
    max-width: 350px;
    text-align: left;
}

h3 {
    margin-bottom: 15px;
}

p {
    line-height: 1.8;
    margin-bottom: 20px;
    text-align: center;
    
}

@media (max-width: 768px) {
    .cont-div {
        flex-basis: 100%;
    }
}