body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;

}

#menu {
    background-color: #242424;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 10;
    text-align: center;
}

#menu ul li {
    display: inline;
}

#menu ul li a {
    display: inline-block;
    padding: 15px 25px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

#menu li a:hover {
    background-color: #353535;
}


#d1 {
    background-color: #242424;
    padding: 81px;
}

#Titulo {
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    color: white;
}

#SubTi {
    font-size: 16px;
    text-align: center;
    color: white;
}

#Slides {
    background-color: white;
    padding: 40px;
}

.conteiner {
    height: 520px;
    width: 935px;
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 100px;
    background-color: white;
}

.nav {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}

.bar {
    width: 70px;
    height: 15px;
    border: 2px solid white;
    margin: 6px;
    border-radius: 5px;
    cursor: pointer;
    transition: .4s;
}

.bar:hover {
    background: white;
}

input {
    display: none;
}

.slides {
    display: flex;
    width: 500%;
    height: 100%;
}

.slide {
    width: 20%;
    transition: .6s;
}

.slide img {
    width: 100%;
    height: 100%;
}

#slide1:checked~.s1 {
    margin-left: 0;

}

#slide2:checked~.s1 {
    margin-left: -20%;

}

#slide3:checked~.s1 {
    margin-left: -40%;
}

#slide4:checked~.s1 {
    margin-left: -60%;
}

#slide5:checked~.s1 {
    margin-left: -80%;
}

.cont-sobre {
    background-color: #242424;
    padding: 50px;
    margin-top: 523px;
    padding-bottom: 60px;
    color: white;
}

#cont-sobre2 {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-inline: 20px;
}

.cont-div {
    flex: 1;
    margin: 0 50px;
}

#Tfeed {
    display: flex;
    font-size: 35px;
    justify-content: center;
    margin-top: 20px;
}

.containerFed {
    display: flex;
    background-color: white;
    height: 400px;
    justify-content: space-between;
    margin-top: 50px;
}


#div1 {
    text-align: center;
    background-color: white;
    width: 550px;
    color: black;
}

#div1>p {
    font-size: 16px;
}

#div1>img {
    border-radius: 50%;
}

#div2 {
    text-align: center;
    background-color: white;
    width: 550px;
    color: black;
}

#div2>img {
    border-radius: 50%;
}

#div3 {
    text-align: center;
    background-color: white;
    width: 550px;
    color: black;
}

#div3>img {
    border-radius: 50%;
}

div>img {
    width: 50%;
    height: 50%;
}

.cont-contato {
    background-color: #242424;
    padding: 50px;
    color: white;
}

.Tcontato {
    text-align: center;
}


#areaContato {
    display: flex;
    justify-content: start;
}

#logo {
    width: 200px;
    height: 200px;
}

#icon {
    width: 50px;
    height: 50px;
}

